dataset
dataset_false
results_10K.json
results_10percent.json
# Byte-compiled / optimized / compiled files
__pycache__/
*.pyc
*.pyd
*.pyo

# Virtual environment
.venv/
env/
venv/

# Editor/IDE specific files
.vscode/
.idea/
*.sublime-workspace
*.swp

# Logs and temporary files
*.log
*.tmp
*~

# Database files
*.sqlite3

# Sensitive information (example)
config.ini
.env
